@import "tailwindcss";

body {
  background-color: #000000;
}

.heading-top {
  background: #EB1EBB;
  background: linear-gradient(to right, #EB1EBB 0%, #FF4141 47%, #FDC700 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.code-window {
  background-color: rgba(0, 0, 0, 0.7);
}

.code-window textarea:focus {
  outline: none !important;
} 
